nav{
    background-image: url('/img/beer_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav__content{
        padding: 10px;
        .search__content{
            display: flex;
            align-items: center;
            background: white;
            border-radius: 15px;
            padding: 10px;
            .submit__btn{
                background: none;
                width: 50px;
                border: none;
                cursor: pointer;
                img{
                    width: 40px;
                }
            }
            .search__input{
                width: 100%;
                padding: 10px;
                font-size: large;
                font-weight: bold;
                border: none;
                border-radius: 15px;
            }
            .search__input:focus, input:focus{
                outline: none;
            }
        }
    }
}
.cards__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mybeer__content{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    .mybeer__img{
        margin-right: 20px;
        height: 100%;
    }
    .mybeer__title{
        font-weight: bold;
        font-size: 38px;
        margin-bottom: 16px;
    }
    .mybeer__descr{
        margin-bottom: 16px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 620px){
   .mybeer__content{
    display: block;
    height: 100%;
    .mybeer__img{
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
   }
}
.pagination__content{
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: end;
}